.Menu{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.Menu h1 {
    color: #262626;
    font-weight: 500;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
}

.menu-list img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 15%;
    transition: 0.2s;
}